<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <!-- jquery -->
    <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <!-- jquery-validator -->
    <script th:src="@{/jquery-validation/jquery.validate.min.js}" type="text/javascript"></script>
    <script th:src="@{/jquery-validation/localization/messages_zh.min.js}" type="text/javascript"></script>
    <!-- layer -->
    <script th:src="@{/layer/layer.js}" type="text/javascript"></script>
    <!-- md5.js -->
    <script th:src="@{/js/md5.min.js}" type="text/javascript"></script>
    <!-- common.js -->
    <script th:src="@{/js/common.js}" type="text/javascript"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">秒杀订单详情</div>
    <table class="table" id="goodslist">
        <tr>
            <td>商品名称</td>
            <td colspan="3" th:text="${goods.goodsName}"></td>
        </tr>
        <tr>
            <td>商品图片</td>
            <td colspan="2"><img height="200" th:src="@{${goods.goodsImg}}" width="200"/></td>
        </tr>
        <tr>
            <td>订单价格</td>
            <td colspan="2" th:text="${goods.miaoshaPrice}"></td>
        </tr>
        <tr>
            <td>下单时间</td>
            <td colspan="2" th:text="${#dates.format(orderInfo.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <td>订单状态</td>
            <td>
                <span th:if="${orderInfo.status eq 0}">未支付</span>
                <span th:if="${orderInfo.status eq 1}">代发货</span>
                <span th:if="${orderInfo.status eq 2}">已发货</span>
                <span th:if="${orderInfo.status eq 3}">已收货</span>
            </td>
            <td>
                <button class="btn btn-primary btn-block" id="payButton" type="submit">立即支付</button>
            </td>
        </tr>
        <tr>
            <td>收货人</td>
            <td colspan="2">XXX 18812341234</td>
        </tr>
        <tr>
            <td>收货地址</td>
            <td colspan="2">北京市昌平区回龙观龙博一区</td>
        </tr>
    </table>
</div>
</body>
</html>
